
body {
	padding: 0;
	margin: 0;
}

table {
	margin: 0 0 4px 0;
	border-collapse: collapse;
}

tr:hover {
	background-color: #f0f0f0;
}

td {
	margin: 0;
	white-space: nowrap;
	padding-top: 4px;
	padding-bottom: 4px;
}

td:first-child {
	padding-left: 8px;
}

td:last-child {
	padding-right: 12px;
}

tr.header td {
	height: 20px;
	line-height: 20px;
	background-color: #929eb2;
	text-align: left;
}

tr.header td {
	font-size: 16px;
	font-weight: bold;
	color: white;
}

tr.header td img {
	width: 16px;
	height: 16px;
	padding: 4px 6px 4px 0;
	vertical-align: middle;
}

a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color:#808080;
}

img.icon {
	width:16px;
	height:16px;
	vertical-align: middle;
	padding-right: 6px;
}

tr.table_sep {
	background: white url("images/sep.png") repeat-x center;
}

